django==5.2.11
django-settings-export==1.2.1
django-widget-tweaks==1.5.1
django-ajax-datatable>=4.4.4
Pillow
python-dateutil
gunicorn
django-multiselectfield
psycopg2-binary
django-ckeditor-5
xlrd
django-model-utils
django-braces
django-resized
django-cleanup
pandas
selenium
webdriver-manager
packaging
pymongo
skforecast
scikit-learn
Werkzeug
pretty-html-table
tqdm
openai
